@import url('https://fonts.googleapis.com/css2?family=Lato&family=Tomorrow&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  font-size: 1rem;
  // background-color: rgb(15, 173, 94);
}

.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-out;
}

.light {
  background-color: rgb(153, 153, 153);
}
.dark {
  background-color: rgb(51, 51, 51);
}

.header {
  position: sticky;
  height: 3.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  margin-right: 2rem;
  gap: 1rem;
  z-index: 99;
}
.icon-mode {
  transition: all 0.3s ease-out;
  color: rgb(107, 107, 1);
}
.icon-mode:hover {
  transform: scale(1.1);
  color: yellow;
}
.show {
  display: none;
}
.container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  width: 400px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn {
  background-color: blueviolet;
  font-family: 'Tomorrow', sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
  z-index: 100;
}
.btn2 {
  background-color: rgb(64, 226, 43);
  font-size: 2rem;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(137, 43, 226, 0.7);
}

.btn:active {
  background-color: aquamarine;
}

.btn.rowna {
  background-color: green;
}

.btn.podwojny {
  grid-column: 3/5;
}

.wynik {
  font-family: 'Tomorrow', sans-serif;
  background-color: aquamarine;
  grid-column: 1/5;
  grid-row: 1;
  text-align: right;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.wynik .gora {
  font-size: 2rem;
  color: blue;
}

.wynik .dol {
  font-size: 3.2rem;
  font-weight: 600;
  color: blue;
}

.error {
  text-align: center;
  color: red;
  font-size: 2rem;
}
